<footer class="footer">
    <section>
        <div class="footer-box">
            <div class="footer-tel item">
                <p class="tel-ttl">TỔNG ĐÀI</p>
                <div class="tel-ct">
                    <p><span>Gọi mua:</span><a href="https://www.avakids.com/tel:1900866874">1900.866.874</a>T&#x1EEB;
                        27/01 (M&#xF9;ng 6 T&#x1EBF;t)</p>
                    <p><span>Khiếu nại:</span><a href="https://www.avakids.com/tel:1900866894">1900.866.894</a>T&#x1EEB;
                        27/01 (M&#xF9;ng 6 T&#x1EBF;t)</p>
                </div>
                <p class="link-title">Kết nối với chúng tôi</p>
                <div class="link-social">
                    <a rel="nofollow" href="https://www.facebook.com/avakidscom/" target="_blank"
                        class="link-social-item">
                        <i class="iconlogo-facebook"></i>
                    </a>
                    <a rel="nofollow" href="https://www.youtube.com/channel/UCtK1MgkVcy-sVUM2eskT2EQ" target="_blank"
                        class="link-social-item">
                        <i class="iconlogo-youtube"></i>
                    </a>

                    <a rel="nofollow" href="https://zalo.me/3059641364506667542" target="_blank" class="imgzalo">
                        <img class="lazy lazyload"
                            data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_75,s_66x66/https://cdn.tgdd.vn/mwgcart/stag-bluekids/images/common/icon_zalo.png"
                            alt="zalo" width="33" height="33" src="https://www.avakids.com/">
                    </a>
                </div>
            </div>
            <div class="footer-menu item">
                <p class="footer-menu-ttl"><a class="nolink" href="https://www.avakids.com/#">HỆ THỐNG CỬA HÀNG</a></p>
                <ul class="submenu-footer">
                    <li><a href="https://www.avakids.com//he-thong-cua-hang-me-va-be">Hệ thống 64 cửa hàng</a></li>
                    <li><a href="https://www.avakids.com//noi-quy-cua-hang">Nội quy cửa hàng</a></li>
                    <li><a href="https://www.avakids.com//chat-luong-phuc-vu">Chất lượng phục vụ</a></li>
                    <li><a href="https://www.avakids.com//bao-hanh-doi-tra">Chính sách đổi trả, bảo hành</a></li>
                    <li><a
                            href="https://www.avakids.com//me-va-be/chuong-trinh-uu-dai-app-qua-tang-vip-tai-he-thong-1482052#hmenuid1">Tích
                            điểm Quà tặng VIP</a></li>
                </ul>
            </div>
            <div class="footer-menu item">
                <p class="footer-menu-ttl"><a class="nolink" href="https://www.avakids.com/#">HỖ TRỢ KHÁCH HÀNG</a></p>
                <ul class="submenu-footer">
                    <li><a href="https://www.avakids.com//dieu-kien-giao-dich">Điều kiện giao dịch chung</a></li>
                    <li><a href="https://www.avakids.com//mua-hang-thanh-toan">Hướng dẫn mua hàng online</a></li>
                    <li><a href="https://www.avakids.com//chinh-sach-giao-hang">Chính sách giao hàng</a></li>
                    <li><a href="https://www.avakids.com//chinh-sach-thanh-toan">Chính sách thanh toán</a></li>


                    <li class="orderhistory_footer"><a href="https://www.avakids.com//lich-su-mua-hang">Lịch sử đơn
                            hàng</a></li>

                </ul>
            </div>
            <div class="footer-menu item">
                <p class="footer-menu-ttl"><a class="nolink" href="https://www.avakids.com/#">VỀ AVAKIDS</a></p>
                <ul class="submenu-footer">
                    <li><a href="https://www.avakids.com//gioi-thieu">Giới thiệu công ty</a></li>
                    <li><a href="https://www.avakids.com//bao-mat-thong-tin">Chính sách bảo mật thông tin</a></li>
                    <li><a href="https://www.avakids.com//quy-nu-cuoi">Quỹ nụ cười AVAKids</a></li>
                    <li><a href="https://www.thegioididong.com/sim-so-dep" target="_blank" rel="nofollow">Sim, thẻ
                            cào</a></li>
                    <li><a href="https://www.thegioididong.com/tien-ich/thanh-toan-tra-gop" target="_blank"
                            rel="nofollow">Đóng tiền trả góp</a></li>
                    <li><a rel="nofollow" href="https://www.avakids.com?issub=true&amp;sclient=mobile">Xem bản
                            mobile</a></li>
                </ul>
            </div>
        </div>
        <div class="link-mkt">
            <a href="http://online.gov.vn/Home/WebDetails/91439" target="_blank" rel="nofollow"><i
                    class="iconlogo-bocongthuong"></i></a>
            <a href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/avakidscom-1642947881" title="Chung nhan Tin Nhiem Mang"
                target="_blank" rel="nofollow"><img class="lazyload"
                    data-src="https://tinnhiemmang.vn/handle_cert?id=avakids.com" width="100" height="45"
                    alt="Chung nhan Tin Nhiem Mang" src="https://www.avakids.com/"></a>
            <a href="https://www.avakids.com///www.dmca.com/Protection/Status.aspx?ID=636f59d8-884a-46f9-a2f0-c581bd9dd9a9"
                target="_blank" title="DMCA.com Protection Status" class="dmca-badge" rel="nofollow">
                <i class="iconlogo-DMCA"></i>
            </a>
        </div>
        <p class="copyright">
            © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. <br>
            Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email:
            cskh@avakids.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt.
        </p>
    </section>
    <div class="footer__logo">
        <p class="footer__logo-hd">Ghé thăm các website khác cùng tập đoàn MWG</p>
        <ul class="footer__logo-list">
            <li>
                <a rel="nofollow" href="https://www.avasport.com/" target="_blank">
                    <i class="iconlogo-sport"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.topzone.vn/" target="_blank">
                    <i class="iconlogo-topzone"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.bachhoaxanh.com/" target="_blank">
                    <i class="iconlogo-bachhoaxanh"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.thegioididong.com/" target="_blank">
                    <i class="iconlogo-thegioididong"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.dienmayxanh.com/" target="_blank">
                    <i class="iconlogo-dienmayxanh"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.nhathuocankhang.com/" target="_blank">
                    <i class="iconlogo-ankhang"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.4kfarm.com/" target="_blank">
                    <i class="iconlogonews-4kfarm"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.dichvutantam.com/" target="_blank">
                    <i class="iconlogonews-tantam"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://vieclam.thegioididong.com/" target="_blank">
                    <i class="iconlogonews-vieclam"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>